@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Montserrat font */
html, body {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

@layer base {
  h1 {
    @apply text-4xl font-bold text-primary md:text-5xl lg:text-6xl;
  }
  
  h2 {
    @apply text-3xl font-bold text-primary md:text-4xl;
  }
  
  h3 {
    @apply text-2xl font-bold text-primary md:text-3xl;
  }
  
  p {
    @apply text-base text-gray-700 md:text-lg;
  }
}

@layer components {
  .container {
    @apply px-4 mx-auto max-w-7xl;
  }
  
  .btn {
    @apply px-6 py-3 font-medium transition duration-300 rounded-md;
  }
  
  .btn-primary {
    @apply text-white bg-primary hover:bg-opacity-90;
  }
  
  .btn-secondary {
    @apply text-white bg-secondary hover:bg-opacity-90;
  }
  
  .section {
    @apply py-12 md:py-20;
  }
}

.p-footer {
  color: rgb(236, 248, 248);
  font-size: 0.875rem;
}

